<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{bebida.strDrink}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="!isFavPage">
      <ion-fab-button (click)="checkFav()">
        <ion-icon [name]="iconFav"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <img [src]="bebida.strDrinkThumb" alt="">
    <ion-list>
      <ion-item>
        <ion-icon slot="end" [name]="iconAlcoholic"></ion-icon>
        <ion-label>¿Contiene alcohol?</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tipo de vaso</ion-label>
        <ion-label slot="end">{{ bebida.strGlass }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-item>
          <ion-label>Ingredienes</ion-label>
          <ion-label id="addToCart" *ngIf="isFavPage">Add to cart</ion-label>
        </ion-item>
      </ion-list-header>
      <div *ngIf="!isFavPage else favPage">
        <ion-item *ngFor="let ingrediente of ingredientes">
          <ion-label>{{ ingrediente.name }}</ion-label>
        </ion-item>
      </div>
    </ion-list>
    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-select value="Idioma" interface="action-sheet" ngModel="instruccion" (ionChange)="setLang($event)">
        <ion-select-option *ngFor="let instruccion of instrucciones; let i = index" [value]="instruccion.idioma">
        {{ instruccion.idioma }} </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>{{ instruccion }}</p>
      </ion-text>
    </ion-item>
  </div>
</ion-content>

<ng-template #favPage>
  <ion-item *ngFor="let ingrediente of ingredientes">
    <ion-label>{{ingrediente.name}}</ion-label>
    <ion-checkbox slot="end" (click)="checkIngredientes(ingrediente.name)" [value]="ingrediente.name"
    [checked]="ingrediente.stored">
  </ion-checkbox>
  </ion-item>
</ng-template>