<form *ngIf="categories" [formGroup]="form">
  <ion-item>
    <ion-label>Selecciona una categoría</ion-label>
    <ion-select value="" okText="Seleccionar" cancelText="Cancelar" formControlName="category">
      <ion-select-option *ngFor="let category of categories.drinks"
      value="{{category.strCategory}}">{{ category.strCategory }}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="input-group flex-nowrap">
      <ion-input placeholder="Ingrediente" formControlName="ingredient"></ion-input>
  </div>
  <div class="input-group flex-nowrap mt-3">
    <input type="submit" class="form-control" value="Buscar recetas" (click)="onChangeMode()">
  </div>
  <span class="badge rounded-pill bg-danger mt-3 w-100" *ngIf="formError">Todos los campos son obligatorios</span>
</form>